<h3 class="search-by-links-header">Look up timeline of events by:</h3>
<ul>
    <li>Individual</li>
    <li>Location</li>
    <li>Time Range</li>
    <li>Event</li>
    <li>Source Material</li>
    <li>Consumed Material</li>
    <li>All Of Time</li>
</ul>

@code {

}
