@page "/"

<PageTitle>StarWars Tracker</PageTitle>

<h1>Ultimate StarWars Timeline/Tracker</h1>

<p> Welcome to the StarWars Tracker. Here you can track the timeline of events across StarWars History both in Canon and Legends. </p>

<StarWarsTracker.BlazorServer.Components.SearchByLinks/>
